Learning-Env-ADF/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Learning-Env-ADF"
		},
		"Lnk_ADF_Sales_Source_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Lnk_ADF_Sales_Source'"
		},
		"Lnk_ADF_Sales_Target_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Lnk_ADF_Sales_Target'"
		},
		"Lnk_Blob_Strg_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Lnk_Blob_Strg'"
		},
		"Lnk_LoadExcelDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Lnk_LoadExcelDB'"
		},
		"Lnk_LoadExcelFiles_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Lnk_LoadExcelFiles'"
		},
		"Lnk_LoadExcelFiles2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Lnk_LoadExcelFiles2'"
		},
		"Lnk_Sales_Tgt_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Lnk_Sales_Tgt'"
		},
		"Lnk_pinkzBlob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Lnk_pinkzBlob'"
		},
		"Lnk_pinkzstrgacct_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Lnk_pinkzstrgacct'"
		},
		"create_tbl_withSheetName_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'create_tbl_withSheetName'"
		},
		"Lnk_ADF_Sales_Source_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pinkz.database.windows.net"
		},
		"Lnk_ADF_Sales_Source_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ADF_Sale_Source"
		},
		"Lnk_ADF_Sales_Source_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pinkz"
		},
		"Lnk_ADF_Sales_Target_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pinkz.database.windows.net"
		},
		"Lnk_ADF_Sales_Target_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ADF_Sales_Target"
		},
		"Lnk_ADF_Sales_Target_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pinkz"
		},
		"Lnk_LoadExcelDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pinkz.database.windows.net"
		},
		"Lnk_LoadExcelDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LoadExcelFiles"
		},
		"Lnk_LoadExcelDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pinkz"
		},
		"Lnk_LoadExcelFiles_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pinkz.database.windows.net"
		},
		"Lnk_LoadExcelFiles_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LoadExcelFiles"
		},
		"Lnk_LoadExcelFiles_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pinkz"
		},
		"Lnk_LoadExcelFiles2_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pinkz.database.windows.net"
		},
		"Lnk_LoadExcelFiles2_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LoadExcelFiles"
		},
		"Lnk_LoadExcelFiles2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pinkz"
		},
		"Lnk_Sales_Tgt_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pinkz.database.windows.net"
		},
		"Lnk_Sales_Tgt_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "Sales_Tgt"
		},
		"Lnk_Sales_Tgt_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pinkz"
		},
		"create_tbl_withSheetName_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pinkz.database.windows.net"
		},
		"create_tbl_withSheetName_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "LoadExcelFiles"
		},
		"create_tbl_withSheetName_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pinkz"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_Excel_to_DB_NoLookUp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loop thru sheet names from file",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.SheetNames",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy from excel to db",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_Details",
											"type": "DatasetReference",
											"parameters": {
												"ds_param_SheetName": {
													"value": "@item().SheetName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_tableName",
											"type": "DatasetReference",
											"parameters": {
												"p_tableName": {
													"value": "@item().SheetName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SheetNames": {
						"type": "array",
						"defaultValue": [
							{
								"SheetName": "Customers"
							},
							{
								"SheetName": "Product"
							},
							{
								"SheetName": "Orders"
							}
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Details')]",
				"[concat(variables('factoryId'), '/datasets/ds_tableName')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_DetailsExcel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Lnk_pinkzstrgacct",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_SheetName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().p_SheetName",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Details_3062026.xlsx",
						"container": "files-container"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Lnk_pinkzstrgacct')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tables_SheetName')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Lnk_LoadExcelFiles",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_tablename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().p_tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Lnk_LoadExcelFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tblSheetNames')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Lnk_LoadExcelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SheetName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_SheetName"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Lnk_LoadExcelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lnk_ADF_Sales_Source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Lnk_ADF_Sales_Source_properties_typeProperties_server')]",
					"database": "[parameters('Lnk_ADF_Sales_Source_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Lnk_ADF_Sales_Source_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Lnk_ADF_Sales_Source_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lnk_ADF_Sales_Target')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Lnk_ADF_Sales_Target_properties_typeProperties_server')]",
					"database": "[parameters('Lnk_ADF_Sales_Target_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Lnk_ADF_Sales_Target_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Lnk_ADF_Sales_Target_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lnk_Blob_Strg')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Lnk_Blob_Strg_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lnk_LoadExcelDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Lnk_LoadExcelDB_properties_typeProperties_server')]",
					"database": "[parameters('Lnk_LoadExcelDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Lnk_LoadExcelDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Lnk_LoadExcelDB_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lnk_LoadExcelFiles')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Lnk_LoadExcelFiles_properties_typeProperties_server')]",
					"database": "[parameters('Lnk_LoadExcelFiles_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Lnk_LoadExcelFiles_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Lnk_LoadExcelFiles_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lnk_LoadExcelFiles2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Lnk_LoadExcelFiles2_properties_typeProperties_server')]",
					"database": "[parameters('Lnk_LoadExcelFiles2_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Lnk_LoadExcelFiles2_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Lnk_LoadExcelFiles2_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lnk_Sales_Tgt')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Lnk_Sales_Tgt_properties_typeProperties_server')]",
					"database": "[parameters('Lnk_Sales_Tgt_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Lnk_Sales_Tgt_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Lnk_Sales_Tgt_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lnk_pinkzBlob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Lnk_pinkzBlob_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lnk_pinkzstrgacct')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Lnk_pinkzstrgacct_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/create_tbl_withSheetName')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('create_tbl_withSheetName_properties_typeProperties_server')]",
					"database": "[parameters('create_tbl_withSheetName_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('create_tbl_withSheetName_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('create_tbl_withSheetName_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Details')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Lnk_pinkzstrgacct",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ds_param_SheetName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().ds_param_SheetName",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Details_3062026.xlsx",
						"container": "files-container"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Lnk_pinkzstrgacct')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tableName')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Lnk_LoadExcelFiles",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_tableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().p_tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Lnk_LoadExcelFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_LoadMultipleCSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LooopThruCSVFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get CsvFileNames",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get CsvFileNames').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_CSV_to_DB",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "src_CSV",
											"type": "DatasetReference",
											"parameters": {
												"ds_p_SheetName": {
													"value": "@item().Name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "tbl_CSVName",
											"type": "DatasetReference",
											"parameters": {
												"ds_tblName": {
													"value": "@item().Name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get CsvFileNames",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "GetCSVFileName",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/GetCSVFileName')]",
				"[concat(variables('factoryId'), '/datasets/src_CSV')]",
				"[concat(variables('factoryId'), '/datasets/tbl_CSVName')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GetCSVFileName')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Lnk_pinkzstrgacct",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "CSV",
						"container": "files-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Lnk_pinkzstrgacct')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Lnk_pinkzstrgacct",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ds_p_SheetName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().ds_p_SheetName",
							"type": "Expression"
						},
						"folderPath": "CSV",
						"container": "files-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Lnk_pinkzstrgacct')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_CSVName')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Lnk_LoadExcelFiles",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ds_tblName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().ds_tblName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Lnk_LoadExcelFiles')]"
			]
		}
	]
}